---
import Layout from '../layouts/Layout.astro';
import TestForm from '../components/test-form';
import SampleCode from "../components/sample-code";
import NavBar from '../components/nav-bar';
import {MoonSVG} from "../components/moon-svg";
---

<Layout title="SleepAPI">
	<NavBar client:load />
	<main class="font-mono">
		<div class="w-[150px] h-[150px] mx-auto mb-4">
			<MoonSVG client:load />
		</div>
		<h1 class="text-5xl font-black mb-8 text-center">SleepAPI</h1>
		<p class="text-justify px-6 mb-8 max-w-[800px] mx-auto">
			Have you even been in a situation where you just want to 
			send a request to test maybe your loading states. But you 
			don't want to use your backend cause the request will 
			clutter your database or you haven't built out the endpoint 
			yet? Well if you've ever found yourself in this situation or
			similar then you would find SleepAPI really useful. SleepAPI 
			is a lightweight API that simulates a server request and 
			responds after a set time has elapsed. That's it.
		</p>
		<TestForm client:load />
		<!-- <div class="mt-8 px-8">
			<SampleCode client:load />
		</div> -->
	</main>
</Layout>